$background-color:  rgb(0,150,166);

.services-widget {

	/*background-color: $background-color;*/
    /*padding:12px;*/

        .widget{
          display:block;
          height: auto;
          padding: 0;
	}

}

