// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #0096A6;

// ----------------------------------------------------------------------------
// Widget-clock styles
// ----------------------------------------------------------------------------
.widget-services {

	background-color: $background-color;
   padding:12px;

        .widget{
          display:block;
          height: auto;
          padding: 0;
	}

}

