// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #ff9400;

// ----------------------------------------------------------------------------
// Widget-clock styles
// ----------------------------------------------------------------------------
.app-widget {

        background-color: $background-color;
        margin-bottom:24px;
       transition: all 100ms linear;
        transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg);

   .overlay{
       background: rgba(0,0,0,0.2);
       height: 100%;
       width: 100%;
       position: absolute;
   }

    img{
        height: 100%;
        width: 100%;
        display:block;
    }

    &:focus{
        cursor: pointer;
        z-index:9999;
        transform: scale(1.1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg);

        .overlay{
            background: rgba(0,0,0,0.0);
        }
    }

}
