// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #dc5945;

// ----------------------------------------------------------------------------
// Widget-clock styles
// ----------------------------------------------------------------------------
.widget-switch {
  
  .title{
  	font-size: 24px;
  	text-align: left;
  }

  label{
      width:100%;
  }

  label:focus{
       z-index:9999;
       box-shadow: 0px 31px 70px -29px rgba(0,0,0,0.75);
       -ms-transform: scale(1.2) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg);
       transform: scale(1.2) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg);
   }

}
