// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #0096A6;

// ----------------------------------------------------------------------------
// Widget-clock styles
// ----------------------------------------------------------------------------
.widget-switches {

	background-color: $background-color;

        .widget{
          display:block;
          height: auto;
          padding: 0;
		// margin-bottom:12px;
	}

}

