// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #ff9400;

// ----------------------------------------------------------------------------
// Widget-clock styles
// ----------------------------------------------------------------------------
.widget-apps {

    // background-color: $background-color;

    &:hover{
        cursor: pointer;
    }

    img {
        height: 90%;
        position: absolute;
        top: 50%;
        transform: translate(-50%,-50%);
    }

}
